<div class="banner"><h2><%= @category.name %></h2></div>
<div class="container">
  <h2><%= @question.content %></h2>
  <ul>
    <% @question.answers.each do |answer| %>
      <li><%= link_to answer.content, user_answers_path(), method: :post, class: "btn btn-body-color" %></li>
    <% end %>
  </ul>
  <% if @next_question.nil? %>
    <% if @next_category.nil? %>
      <%= link_to "Résultats", "#", class: "btn btn-primary" %>
    <% else %>
      <%= link_to "section suivante", form_category_path(@form, @next_category), class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <%= link_to "question suivante", form_question_path(@form, @next_question), class: "btn btn-primary" %>
  <% end %>
</div>
