<div class="container">
  <div class="card-title">
    <h1>Analyse</h1>
  </div>
  <% global_score = [] %>
  <% global_best_score = [] %>
  <ul>
    <% @categories.each do |category| %>
      <div class="card-results">
        <%= category.name %>
        <% score = [] %>
        <% best_score = [] %>
        <% category.questions.each do |question| %>
          <% best_answer = question.answers.order(:score).last %>
          <% user_answer = question.user_answers.where(user: current_user).first %>
          <% score.push(user_answer.answer.score) %>
          <% best_score.push(best_answer.score) %>
        <% end %>
        <p>Score : <%= score.sum %> / <%= best_score.sum %></p>
        <% global_score.push(score.sum) %>
        <% global_best_score.push(best_score.sum) %>
      </div>
    <% end %>
  </ul>
  <p>Total : <%= global_score.sum %> / <%= global_best_score.sum %></p>
  <%= link_to "Partager mes résultats" %>
</div>
