<div class="container">
  <div class="card-title">
    <h1><%= @form.name %></h1>
  </div>
  <div class="card-content">
    <h2>Introduction</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum accusamus omnis tenetur ratione obcaecati nostrum, quaerat doloremque, natus architecto perferendis impedit ex. Unde tempore voluptatem distinctio sequi vero cumque labore?</p>
    <h2>Votre analyse personnalysée</h2>
    <table>
      <thead>
        <tr>
          <th>Categorie</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% total_user = 0 %>
        <% total_test = 0 %>
        <% @synthesis.each do |s|%>
          <tr>
            <td><%= s[:category] %></td>
            <td><%= s[:score] %> / <%= s[:best_score] %></td>
          </tr>
          <% total_user += s[:score] %>
          <% total_test += s[:best_score] %>
        <% end %>
      </tbody>
      <tfoot>
        <td>Total</td>
        <td><%= total_user %> / <%= total_test %></td>
      </tfoot>
    </table>

    <ul>
      <% @synthesis.each do |s|%>
        <li>
          <h3><%= s[:category] %></h3>
          <%= s[:comment].first.content %></li>
      <% end %>
    </ul>
  </div>
  <div class="card-social">
    <ul class="rrssb-buttons clearfix">
      <li class="rrssb-email">
        <!-- Replace subject with your message using URL Encoding: http://meyerweb.com/eric/tools/dencoder/ -->
        <a href="mailto:?Subject=your%20subject">
          <span class="rrssb-text">email</span>
        </a>
      </li>
      <li class="rrssb-facebook">
        <!--  Replace with your URL. For best results, make sure you page has the proper FB Open Graph tags in header: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/ -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://your-url-here" class="popup">
          <span class="rrssb-text">facebook</span>
        </a>
      </li>
      <li class="rrssb-twitter">
        <!-- Replace href with your Meta and URL information  -->
        <a href="https://twitter.com/intent/tweet?text=https://rrssb.netlify.com/"
        class="popup">
          <span class="rrssb-text">twitter</span>
        </a>
      </li>
    </ul>
  </div>
</div>
