<div class="container">
  <div class="card-title">
    <h1>Vos résultats</h1>
  </div>
  <div class="card-results">
    <% global_score = [] %>
    <% global_best_score = [] %>
    <% @categories.each do |category| %>
      <%= category.name %>
      <ul>
        <% score = [] %>
        <% best_score = [] %>
        <% category.questions.each do |question| %>
          <% best_answer = question.answers.order(:score).last %>
          <% user_answer = question.user_answers.where(user: current_user).first %>
          <% score.push(user_answer.answer.score) %>
          <% best_score.push(best_answer.score) %>
          <li style="list-style-type: none;">
            <p>Question : <%= user_answer.question.content %></p>
            <p>Votre réponse : <%= user_answer.answer.content %> - <%= user_answer.answer.score %></p>
            <p>Correction : <%= best_answer.content if best_answer != user_answer.answer %></p>
          </li>
        <% end %>
        <p>Score : <%= score.sum %> / <%= best_score.sum %></p>
        <% global_score.push(score.sum) %>
        <% global_best_score.push(best_score.sum) %>
      </ul>
    <% end %>
    <p>Total : <%= global_score.sum %> / <%= global_best_score.sum %></p>
  </div>
</div>
