<div class="container">
  <%= simple_form_for @form do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :theme %>
    <%= f.submit "Submit test", class: "btn btn-primary" %>
  <% end %>
</div>
