<div class="container">
  <h1>Tests disponibles</h1>
  <ul>
    <% @forms.each do |form| %>
      <li><%= link_to form.name, form_path(form) %> <%= link_to "User", user_show_path(form) %> - <%= link_to "edit", edit_form_path(form) %> | <%= link_to "Remove",
                  form_path(form),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
    <% end %>
  </ul>
  <%= link_to 'Ajouter un test', new_form_path %>
</div>
