<div class="container">
  <%= @category.name %>
  <ul>
    <% @comments.each do |comment| %>
      <li>de <%= comment.min %> à <%= comment.max %> : <%= comment.content %></li>
    <% end %>
  </ul>
  <%= simple_form_for [@category, @comment] do |f| %>
      <%= f.input :content %>
      <%= f.input :min %>
      <%= f.input :max %>
      <%= f.submit "Submit comment", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Retour au test", form_path(@form) %>
</div>
